<div class="row justify-content-center align-items-center mt-5">
    <div class="col-md-5">
      <h1 class="fs-2">Excluir Médico</h1>
  
      <p class="fs-5">
        Você tem certeza que deseja excluir o seguinte médico?
      </p>
  
      <mat-list>
        <mat-list-item>
          <div class="d-flex justify-content-between">
            <span>Id:</span>
            <span>000000000</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
  
        <mat-list-item>
          <div class="d-flex justify-content-between">
            <span>CRM:</span>
            <span>ABC-123</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>

      <mat-list-item>
        <div class="d-flex justify-content-between">
          <span>Nome:</span>
          <span>Nome</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

    <mat-list-item>
        <div class="d-flex justify-content-between">
          <span>Telefone:</span>
          <span>49 9999-9999</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>

    <mat-list-item>
        <div class="d-flex justify-content-between">
          <span>Disponibilidade:</span>
          <span>Sim</span>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
  
      <div class="d-flex justify-content-end gap-2 mt-5">
        <button
          class="py-3 px-5"
          color="warn"
          mat-raised-button
        >
          Confirmar
        </button>
        <button
          routerLink="/medicos/listar"
          class="py-3 px-5"
          color="primary"
          mat-stroked-button
        >
          Voltar
        </button>
      </div>
    </div>
  </div>
  