.custom-card {
  background-color: #d1d1f0;  
  color: #333; 
  border-radius: 10px;
  transition: transform 0.1s; 
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.custom {
  margin: 20px;
}

h1,
h4,
span {
  color: #333;
}

h1 {
  font-size: 2.0rem;
}

h4 {
  font-size: 1.5rem;
}

.custom-card:hover {
  transform: scale(1.05);
}

mat-card-title,
mat-icon {
  color: #4a0e58ad;
}

.custom-font {
  font-family: "berlin", Calibri;
  color: #4a0e58ad;
}

.custom-font-two {
  font-family: "berlin", Berlin Sans FB;
  color: #4a0e58ad;
  text-align: center;
}


