<div class="row gap-3 custom">
  <h1 class="p-0 fw-semi-bold">Bem-vindo(a) ao e-Agenda Médica</h1>

  <div class="row gap-3">
    <h4 class="p-0 fw-light">
      Gerencie consultas e cirurgias de maneira eficiente com o e-Agenda Médica.
    </h4>

    <!-- Card médicos dashboard -->
    <mat-card
      appCardHover
      class="col-12 col-md-6 col-lg-3 d-grid gap-2 custom-card"
      routerLink="/medicos/listar"
    >
      <mat-card-header>
        <mat-card-title>Médicos</mat-card-title>
        <mat-icon class="ms-auto">arrow_circle_right</mat-icon>
      </mat-card-header>

      <mat-card-content>
        <span
          >Crie perfis de médicos para organizar suas consultas e
          cirurgias.</span
        >
      </mat-card-content>
    </mat-card>

    <!-- Card consultas dashboard -->
    <mat-card
      appCardHover
      class="col-12 col-md-6 col-lg-3 d-grid gap-2 custom-card"
      routerLink="/consultas/listar"
    >
      <mat-card-header>
        <mat-card-title>Consultas</mat-card-title>
        <mat-icon class="ms-auto">arrow_circle_right</mat-icon>
      </mat-card-header>

      <mat-card-content>
        <span>Agende suas consultas de forma prática e eficiente.</span>
      </mat-card-content>
    </mat-card>

    <!-- Card cirurgias dashboard -->
    <mat-card
      appCardHover
      class="col-12 col-md-6 col-lg-3 d-grid gap-2 custom-card"
      routerLink="/cirurgias/listar"
    >
      <mat-card-header>
        <mat-card-title>Cirurgias</mat-card-title>
        <mat-icon class="ms-auto">arrow_circle_right</mat-icon>
      </mat-card-header>

      <mat-card-content>
        <span>Agende suas cirurgias de maneira prática e organizada.</span>
      </mat-card-content>
    </mat-card>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="d-flex flex-column flex-md-row align-items-center">
        <img
          src="assets/nurse.jpg"
          alt="Imagem"
          class="img-fluid mb-3 mb-md-0 me-md-3"
        />
        <h1 class="p-0 fw-light text-center text-md-start col-12">
          Clique nos cards acima pra gerenciar a categoria desejada
        </h1>
      </div>
    </div>
  </div>
</div>
